<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>

<body>
    생성하실 채팅방 이름을 입력해주세요.
    <br/><input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/>
    
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/chat/' + roomName + '/';
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'csrfmiddlewaretoken';
            input.value = '{{ csrf_token }}';
            form.appendChild(input);
            var roomNameInput = document.createElement('input');
            roomNameInput.type = 'hidden';
            roomNameInput.name = 'room_name';
            roomNameInput.value = roomName;
            form.appendChild(roomNameInput);
            document.body.appendChild(form);
            form.submit();
        };

        // WebSocket 연결
        // const roomName = '{{ room_name }}';
        // const socket = new WebSocket(`wss://${window.location.host}/ws/chat/${roomName}/`);

        // socket.onmessage = function(e) {
        //     const data = JSON.parse(e.data);
        //     // 서버로부터 전달받은 메시지 처리 로직
        // };

        // socket.onclose = function(e) {
        //     // WebSocket 연결 종료 시 처리 로직
        // };
    </script>
</body>
</html>