<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        document.addEventListener('DOMContentLoaded', function() {
            const chatLog = document.querySelector('#chat-log');
            // WebSocket 연결 설정과 이벤트 핸들러
            const chatSocket = new WebSocket(
                'wss://' + window.location.host + '/ws/chat/' + roomName + '/'
            );

            chatSocket.onopen = function(e) {
                chatLog.value += roomName+"에 입장하였습니다.\n";
                document.querySelector('#chat-message-submit').onclick = function(e) {
                    var messageInputDom = document.querySelector('#chat-message-input');
                    var message = messageInputDom.value;
                    chatSocket.send(JSON.stringify({
                        'message': message
                    }));
                    messageInputDom.value = '';
                };
            };

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                chatLog.value += (data.message + '\n');
                chatLog.scrollTop = chatLog.scrollHeight; // 스크롤을 자동으로 아래쪽으로 이동
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInputDom.value = '';
            };
        });
    </script>
</body>
</html>